.buttons {
  justify-content: center;
  display: flex;
  align-items: center;
}

.createButton {
  padding: 20px;
}

.storeButton {
  padding: 20px;
}

.backgroundimage {
  background-image: url("../../images/images\ \(1\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.account {
  height: 1.25em;
  width: 1.25em;
  margin-left: 1015px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.45rem;
}

.welcome {
  color: white;
}

.cardMemories {
  background-color: aliceblue;
  padding: 5px;
  margin-bottom: 1px;
  margin-left: 4px;
  margin-right: 10px;
  width: 75%;
}

.memoriesCardContainer {
  display: flex;
  justify-content: center;
}

.card-text {
  color: rgb(26, 16, 70);
}
