.backgroundMain {
  width: 100;
  height: 100vh;
  position: relative;
}

#video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  position: relative;
}

.heading {
  position: absolute;
  color: rgb(27, 6, 77);
  /* white-space: pre-line; */
  text-align: center;
  /* padding: 20px; */
  margin-left: 150px;
  margin-bottom: 0;
}
/* 
.overlay {
  position: absolute;
  background-color: rgba(96, 17, 161, 0.1);
} */

.content {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 1rem;
  color: white;
  z-index: -1;
}

.form {
  position: absolute;
  display: flex;
  background-color: white;

  justify-content: space-between;
  align-items: center;
  border: 1px solid white;

  margin: 10px;
  margin-left: 500px;
  margin-top: 120px;
  width: 100%;
  max-width: 300px;

  height: 25px;
}

.form input [type="text"] {
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  /* height: 20px; */
}

/* .form input [type="text"]:focus {
  outline: none;
} */

#searchField {
  border: none;
  height: 1.6em;
  width: 80%;
  padding: 5px;
}

.searchButton {
  border: none;
}
