.Navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: right;
  align-items: left;
  position: absolute;
  color: rgb(255, 255, 255);
}

li {
  padding: 20px;
  text-decoration: none;
  color: white;
}

li a {
  text-decoration: none;
  color: white;
}

.backgroundMain {
  width: 100;
  height: 100vh;
  position: relative;
}

#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  position: relative;
}

.heading {
  position: absolute;
  color: white;
  white-space: pre-line;
  text-align: center;
  padding: 200px;
  margin-left: 150px;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
}

.content {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 1rem;
  color: white;
}

.form {
  position: absolute;
  display: flex;
  background-color: white;
  color: black;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  border-radius: 8px;
  margin: 20px;
  margin-left: 500px;
  margin-top: 50px;
  width: 100%;
  max-width: 300px;
  padding: 4px;
  height: 25px;
}

.form input [type="text"] {
  border: transparent;
  background-color: transparent;
  width: 400px;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}

.form input [type="text"]:focus {
  outline: none;
}
